
    <ul class="nav navbar-nav">
        <li><a style="cursor: pointer;" class="js-users">Users</a></li>
        <li><a style="cursor: pointer;" class="js-books">Books</a></li>
        <li><a style="cursor: pointer;" class="js-add-user">Add User</a></li>
        <li><a style="cursor: pointer;" class="js-add-book">Add Book</a></li>
    </ul>